/*---------------------------- Generic ----------------------------*/

body {
    background-color: #80D6E6;
}

h1 {
    color: #FFFFFF;
    font-family: "Noto Sans JP";
    font-size: 4em;
}

h2 {
    font-family: Livvic;
    font-weight: 600;
}

hr {
    background-color: #000000;
}

.center-headings {
    text-align: center;
}

/*---------------------------- Navigation Bar ----------------------------*/

.navbar {
    background-color: rgba(0, 0, 0, 1);
    height: 83px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-logo {
    font-family: Fresca;
    color: #FFFFFF;
    font-size: 50px;
    text-decoration: none;
    letter-spacing: 3px;
}

.navbar-logo:hover {
    color: #80D6E6;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
}

.fa-bars {
    color: #FFFFFF;
}

.collapse {
    background-color: rgba(0,0,0,0.8);
    border-radius: 15px;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.8);
}

.dropdown-item {
    color: #FFFFFF;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #2098D1;
    color: #FFFFFF;
}

/*---------------------------- Footer ----------------------------*/

.footer {
    padding: 20px;
    background-color: #000000;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;
}

.media-icon {
    color: #FFFFFF;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #8134AF;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-youtube:hover {
    color: #FF0000;
}

/*---------------------------- Next Page Arrow ----------------------------*/

.next-page-div {
    background-color: #80D6E6;
    text-align: center;
    padding: 150px 0px 150px 0px;
}

.fa-arrow-circle-right {
    color: #000000;
}

.fa-arrow-circle-right:hover {
    color: #FFFFFF;
}

.fa-arrow-circle-left {
    color: #000000;
}

.fa-arrow-circle-left:hover {
    color: #FFFFFF;
}

.next-page {
    display: block;
}

/*---------------------------- Hero Image ----------------------------*/

.hero-image {
    height: 100vh;
    background: url('../images/hero-kids.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.onep-hero {
    font-family: Fresca;
    font-size: 20vw;
    color: rgba(255,255,255,0.7);
    text-align: center;
    margin: 170px 0px 170px 0px;
}

.hero-phrase {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 3vw;
}

.author {
    font-family: "Noto Sans KR";
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1vw;
}

/*---------------------------- Why ONE% Section - Index Page ----------------------------*/

.onep-div {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #57BC90;
}

.onep {
    background-color: #FFFFFF;
    padding: 50px;
    margin: 20px;
    min-width: 43vw;
    font-size: 25px;
    border-radius: 25px;
    max-width: 600px !important;
}

.onepspan {
    font-family: Fresca;
    color: #57BC90;
    font-weight: bold;
    font-size: 35px;
}

/*---------------------------- Facts Section - Index Page ----------------------------*/

.outcomes-title {
    margin-top: 50px;
}

.outcomes {
    background-color: #FFFFFF;
    max-width: 350px;
    border-radius: 25px;
    padding: 20px;
    border: #57BC90 solid 4px;
    text-align: center;
}

.col-sm {
    max-width: 400px;
    margin: auto;
    padding: 30px;
}

.card-deck .card {
	min-width: 240px;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.fact-center {
    text-align: center;
}

.fact2 {
    padding: 50px;
    margin: 20px;
    min-width: 240px;
}

.facts-icons {
    padding-left: 10px;
}

.hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    border-radius: 25px;
}

.hvr-outline-out:before {
    content: '';
    position: absolute;
    border: #57BC90 solid 4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
    border-radius: 25px;
}

.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

/*---------------------------- Why Donate Cards Section Page ----------------------------*/

.whydonate-title {
    padding: 150px 5px 50px 5px;
    text-align: center;
}

.why-donate {
    background-color: #FFFFFF;
    max-width: 600px;
    border-radius: 25px;
    padding: 10px;
    border: #57BC90 solid 4px;
}

.fix-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 500px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
}

.flip-card-front {
    background-color: #bbb;
    color: #000000;
}

.flip-card-back {
    background-color: #FFFFFF;
    color: #000000;
    transform: rotateY(180deg);
}

.why-donate-div {
    margin: 4vw;
    padding: 5px;
}

.why-donate-cards {
    width:400px;
    height:500px;
    border-radius: 25px;
    border: #57BC90 solid 4px;
}

.flip-card-back {
    padding: 40px;
    border: #57BC90 solid 4px;
}

/*---------------------------- Donate Pages ----------------------------*/

.water-div {
    padding: 150px 0 150px 0;
}

.btn-donate {
    color: #FFFFFF !important;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 110px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.btn-donate:hover {
    color: #000000 !important;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
}

.donate-image {
    border-radius: 25px;
    border: #57BC90 solid 4px;
    width: 100%;
}

.projects-content {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 50px;
    margin-top: 30px;
}

/*---------------------------- Contact Form Page ----------------------------*/

.form-div {
    min-height: calc(90vh - 123px);
}

.form {
    max-width: 1000px;
    margin: auto;
    padding: 25px 50px 50px 50px;
    background-color: #FFFFFF;
    margin-top: 200px;
    border-radius: 25px;
    border: #57BC90 solid 4px;
}

.btn-outline-dark {
    color: #000000;
    min-width: 110px;
}

.btn-outline-dark:hover {
    background-color:  #FFFFFF;
}

.btn-send {
    color: #FFFFFF !important;
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-send:hover {
    color: #000000 !important;
    background-color: #FFFFFF;
}

.form-control {
    border: 1px solid #57BC90;
}

/*---------------------------- Media Queries ----------------------------*/

@media only screen and (max-width: 1199px) {
    .fact2 {
        padding: 50px 25px;
    }
    
    .hero-phrase {
        font-size: 4vw;
    }

    .author {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 991px) {
    .humanity-fact {
        width: 650px !important;
    }

    .onep-hero {
        font-size: 30vw;
    }
    
    .hero-phrase {
        font-size: 4vw;
    }

    .author {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 768px) {
    .social-media {
        width: 90%;
    }

    .fact2 {
        padding: 25px 16px;
    }

    .outcomes {
        padding: 10px;
    }
}

@media only screen and (max-width: 575px) {
    .navbar {
        height: 70px;
    }

    .dropdown-menu {
        background-color: rgba(0,0,0,0.001);
    }

    .onep {
        padding: 25px 20px;
        font-size: 20px;
    }

    .onepspan {
        font-size: 30px;
    }

    .hero-phrase {
        font-size: 5vw;
    }

    .author {
        font-size: 2vw;
    }

    .flip-card-back {
        padding: 25px;
    }

    .form{
        margin-top: 100px;
        padding: 10px;
    }
}

@media only screen and (max-width: 410px) {
    
    .onep {
        width: 300px;
    }

    .why-donate-cards {
        width: 340px;
        height: 425px;
        margin: auto;
    }

    .flip-card {
        width: 340px;
        height: 425px;
        margin: auto;
    }

    .hero-phrase {
        font-size: 5vw;
    }

    .author {
        font-size: 3vw;
    }
    .projects-content {
        padding: 25px;
    }

    .navbar-logo {
        font-size: 40px;
    }
}
